<style>
    nav {
        display: flex;
        justify-content: space-around;
        background-color: #212121;
        color: wheat;
        padding: 10px;
    }

    nav a {
        color: wheat;
        text-decoration: none;
        font-size: 1.2em;
    }

    nav a.activeClass {
        font-weight: bold;
        border-bottom: 2px solid wheat;
        color: blue;
    }
</style>

<nav>
    <!-- GRACIAS AL ROUTERLINK PODEMOS APLICAR ESTILOS CADA VEZ QUE SE NAVEGA, ANGULAR SE ENCARGARA DE QUITAR Y PONER ESA CLASE CUANDO SE USA PARA NAVEGAR -->
    <a routerLink="/"
        routerLinkActive="activeClass"  
        [routerLinkActiveOptions]="{exact: true}"
    >Counter</a>
    <a routerLink="/hero" [routerLinkActive]="'activeClass'">Hero</a>
</nav>