<h3>Agregar: {{name()}}</h3>
    @if(power() == 0 || power() == null || isNaN(Number(power())))
    {
        <h6 class="text-danger">El poder no puede ser 0</h6>
    } @else 
    {
        <h6>Poder: {{power()}}</h6>
    }
    <!-- usa referencia locales #nameInput -->
    <input 
        type="text" 
        class="form-control" 
        placeholder="Nombre del personaje"
        [value]="name()"
        (input)="name.set(nameInput.value)"
        #nameInput
    >
    <input class="form-control mt-2"
        type="number" placeholder="Poder"
        [value]="power()"
        (input)="power.set(powerInput.valueAsNumber)"
        #powerInput
    >
<button class="btn btn-primary mt-2" (click)="addCharacter()">Agregar</button>